* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 100px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 135px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
  font-style: 22px;
}

.cart a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cart img {
  width: 22px;
}

.cart a span {
  color: black;
}
/* this is banner section */

.banner {
  width: 100%;
  height: 500px;
  padding: 0 100px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
.banner .flex_item {
  flex: 1 1 50%;
}

.banner h1 {
  font-size: 65px;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner .title_paragraph h1 span {
  color: #e95a08;
}

.banner .title_paragraph p {
  font-size: 22x;
  color: rgba(0, 0, 0, 0.527);
}

/* this is our shop section */

.our_shop {
  width: 100%;
  min-height: 600px;
  padding: 0 100px;
  margin-bottom: 50px;
}
.our_shop .title_para {
  width: 100%;
}

.our_shop .title_para h2 {
  text-align: center;
  color: black;
  font-size: 50px;
  margin: 30px 0;
}
.our_shop .title_para h2 span {
  color: #e95a08;
}

.our_shop .title_para p {
  font-size: 22px;
  color: #0000005e;
  text-align: center;
  margin: 0 auto;
  width: 800px;
}

.card_grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  place-items: center;
}

.card_grid .card {
  width: 270px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card_grid .card p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.card_grid .card button {
  width: 100%;
  border: none;
  outline: none;
  background-color: #e95a08;
  font-size: 16px;
  height: 50px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}

.card_grid .card button:hover {
  cursor: pointer;
  background-color: #e95a08d7;
}

/* this flower lover section */

.flower_lover {
  padding: 40px;
  padding: 50px 0;
}

.lover_flex {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.lover_flex img {
  width: 500px;
}
.about_lover {
  width: 500px;
}
.about_lover h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.about_lover ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 35px;
}
.about_lover ul li {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  list-style: disc;
}

@media screen and (max-width: 480px) {
  nav {
    padding: 0 50px;
  }
  nav .logo {
    width: 60px;
  }
  ul .nav_link {
    display: none;
  }

  /* this banner responsive section */

  .banner {
    flex-direction: column-reverse;
    margin-top: 0px;
    padding: 0;
  }
  .flex_item {
    flex: 1 1 100%;
  }
  .banner img {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner .title_paragraph {
    padding: 0 20px;
  }
  .banner .title_paragraph p {
    font-size: 14px;
  }
  .banner h1 {
    font-size: 28px;
  }

  /* our shop section */

  .our_shop .title_para h1 {
    font-size: 22px;
  }
  .our_shop .title_para {
    width: 100%;
  }
  .our_shop .title_para p {
    width: 100%;
    font-size: 14px;
  }
  .card_grid {
    grid-template-columns: 1fr;
  }

  /* this is flower lover */
  .flower_lover {
    padding: 10px;
  }
  .lover_flex {
    flex-direction: column;
  }
  .lover_flex img {
    width: 460px;
  }
  .about_lover {
    padding: 0 30px;
  }
  .about_lover h2 {
    font-size: 24px;
  }
}
